/* Hide browser scrollbar but keep scrolling enabled */
::-webkit-scrollbar {
  width: 0;
  height: 0;
}

* {
  scrollbar-width: none;   /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer / Edge */
}
